<h1 class="title">Episodes</h1>
<section class="container" scrollUp (showBtn)="showScroll = $event" infiniteScroll (scrolled)="onScrollDown()">
  <ul class="episodes__list" *ngIf="episodes$ | async as episodes">
    <ng-container *ngIf="episodes.length; else noData">
      <li *ngFor="let episode of episodes">
        {{ episode.episode }} - {{ episode.name }}
      </li>
    </ng-container>
    <ng-template #noData>
      <app-not-data></app-not-data>
    </ng-template>
  </ul>
  <!-- SCROLL UP -->
  <app-scroll-up [showScrollBtn]="showScroll"></app-scroll-up>
</section>
